body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1000px;
    width: 100%;
    box-sizing: border-box;
}

/* header section */
.header {
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

header div {
    background-color: #b72826;
    padding: 7px 70px;
    color: white;
    font-size: 10px;
}

header nav img {
    width: 7%;
}

header nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
    flex-wrap: wrap;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
}

header nav ul a {
    text-decoration: none;
    color: black;
}

@media (width <=600px) {
    header nav ul {
        list-style: none;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;
        text-transform: uppercase;
        font-size: 8px;
    }

    header nav img {
        width: 10%;
    }

    header nav {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
        flex-wrap: wrap;

    }
}


/* section one  */
.section-one {
    background: linear-gradient(rgba(157, 153, 153, 0.3), rgba(0, 0, 0, 0.3)), url(img/2-african-people-harvesting-vegetables_23-2151441311.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.section-one div {
    color: white;
    text-align: center;
    padding: 13%;
    text-transform: uppercase;
}


.section-one div h1 {
    font-size: 3.5rem;
    font-weight: bold;
    opacity: .8.5;
    text-shadow: black 0.9 0.7;
}

@media (width <=600px) {
    .section-one div h1 {
        font-size: 1.5rem;
        font-weight: bold;
        opacity: .8.5;
        text-shadow: black 0.9 0.7;
    }

    .section-one {
        background: linear-gradient(rgba(157, 153, 153, 0.3), rgba(0, 0, 0, 0.3)), url(img/2-african-people-harvesting-vegetables_23-2151441311.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

    }
}

.section-one div {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

.section-one div button {
    padding: 10px 25px;
    text-spacing-trim: 5px;
    color: gray;
    font-size: 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.section-one div button:hover {
    background-color: #b72826;
    color: white;
}

/* section-two */
.section-two {
    display: flex;
    gap: 5%;
}

.section-two div {
    width: 47%;
}

.section-two-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/3-IMG-20250322-WA0035.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-two-hero h2 {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 35%;
    opacity: 0.8;
}

.section-two-hero h2 span {
    font-size: 5.5rem;

}

.about-us h2 {
    color: #b72826;
    font-size: 1.1em;
}

.about-us h1 {
    font-size: 1.8rem;
    color: #333333;
    text-transform: uppercase;
    line-height: 1;
    font-family: "oswald";
}

.about-us p {
    color: #757575;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 1.5;
}

.section-two div button {
    padding: 10px 25px;
    text-spacing-trim: 5px;
    color: white;
    background-color: #c85b59;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

@media (width <=600px) {
    .section-two-hero {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/3-IMG-20250322-WA0035.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .section-two {
        display: flex;
        gap: 5%;
        flex-direction: column;
    }

    .section-two div {
        width: 100%;
    }

    .section-two-hero h2 {
        color: white;
        text-align: center;
        font-size: 0.6rem;
        padding-top: 40%;
        opacity: 0.8;
    }

    .section-two-hero h2 span {
        font-size: 2.5rem;

    }


    .about-us h2 {
        color: #b72826;
        font-size: 1rem;
    }

    .about-us h1 {
        font-size: 1.2rem;
        color: #333333;
        text-transform: uppercase;
        line-height: 1;
        font-family: "oswald";
    }

    .about-us p {
        color: #757575;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        line-height: 1;
    }

    .section-two div button {
        padding: 10px 20px;
        text-spacing-trim: 5px;
        color: white;
        background-color: #c85b59;
        font-size: 12px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }