body {
    margin: 0px;
    padding-inline: 2.5%;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

/* header section */
.header {
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

header div {
    background-color: #b72826;
    padding: 7px 70px;
    color: white;
    font-size: 10px;
}

header nav img {
    width: 7%;
}

.header p {
    margin: 0px;
    padding: 0px;
}

header nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
    flex-wrap: wrap;
    position: relative;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "oswald";
    font-weight: bold;
}

header nav ul a {
    text-decoration: none;
    color: black;
}

.header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: none;
    transition: 0.4s ease-in-out;
}

.header ul a:hover {
    color: #b72826;

}

.header ul a:after {
    color: #b72826;
}

@media (width <=800px) {
    header nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        height: 100vh;
        gap: 2rem;
        width: 10rem;
        margin-top: -2rem;
        padding: 0px;
        padding-top: 2rem;
        transform: translate(-100%);
        transition: 0.3s ease-in-out;

    }


    header nav img {
        width: 15%;
    }

    header nav {
        background-color: white;
        display: flex;
        padding-inline: 10px;
        justify-content: space-between;


    }

    .header button {
        display: block;
    }

    .header .active {
        transform: translate(0);
    }
}


/* section one  */
.section-one {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/2-african-people-harvesting-vegetables_23-2151441311.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-size: 100%;
}

.section-one div {
    color: white;
    text-align: center;
    padding: 13%;
    text-transform: uppercase;
}


.section-one div h1 {
    font-size: 3.5rem;
    font-weight: bold;
    opacity: .8.5;
    text-shadow: black 0.9 0.7;
}

@media (width <=800px) {
    .section-one div h1 {
        font-size: 1.5rem;
        font-weight: bold;
        opacity: .8.5;
        text-shadow: black 0.9 0.7;
    }

    .section-one {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/2-african-people-harvesting-vegetables_23-2151441311.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.section-one div {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

.section-one div button {
    padding: 10px 25px;
    text-spacing-trim: 5px;
    color: gray;
    font-size: 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.section-one div button:hover {
    background-color: #b72826;
    color: white;
}

/* section-two */
.section-two {
    display: flex;
    gap: 5%;
}

.section-two div {
    width: 47%;
}

.section-two-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/3-IMG-20250322-WA0035.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-two-hero h2 {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 35%;
    opacity: 0.8;
}

.section-two-hero h2 span {
    font-size: 5.5rem;

}

.about-us h2 {
    color: #b72826;
    font-size: 1.1em;
}

.about-us h1 {
    font-size: 1.8rem;
    color: #333333;
    text-transform: uppercase;
    line-height: 1;
    font-family: "oswald";
}

.about-us p {
    color: #757575;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 1.5;
}

.section-two div button {
    padding: 10px 25px;
    text-spacing-trim: 5px;
    color: white;
    background-color: #c85b59;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

@media (width <=800px) {
    .section-two-hero {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/3-IMG-20250322-WA0035.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .section-two {
        display: flex;
        gap: 5%;
        flex-direction: column;
    }

    .section-two div {
        width: 100%;
    }

    .section-two-hero h2 {
        color: white;
        text-align: center;
        font-size: 0.6rem;
        padding-top: 40%;
        opacity: 0.8;
    }

    .section-two-hero h2 span {
        font-size: 2.5rem;

    }


    .about-us h2 {
        color: #b72826;
        font-size: 1rem;
    }

    .about-us h1 {
        font-size: 1.2rem;
        color: #333333;
        text-transform: uppercase;
        line-height: 1;
        font-family: "oswald";
    }

    .about-us p {
        color: #757575;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        line-height: 2;
    }

    .section-two div button {
        padding: 10px 20px;
        text-spacing-trim: 5px;
        color: white;
        background-color: #c85b59;
        font-size: 12px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }
}

.section-three {
    width: 40%;

}

.section-three h2 {
    margin: 5px 0px;
    padding: 0px;
    color: #b72826;
    font-family: "oswald";
}

.section-three h1 {
    font-family: 'oswald';
    margin: 0px;
}

@media (width <=800px) {
    .section-three h1 {
        font-family: 'oswald';
        margin: 0px;
        line-height: 1;
    }

    .section-three {
        width: 100%;

    }
}

/* .section-four */
.section-four-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

}

.section-four {
    display: flex;
    gap: 10px;
    width: 33.3%;
}

.section-four img {
    width: 30%;
    height: 18vh;
    padding-top: 5px;
}

.section-four h2 {
    color: #b72826;
    font-family: "oswald";
    font-size: 20px;
}

.section-four p {
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(74, 74, 74);
}

.section-four-container button {
    padding: 10px 25px;
    text-spacing-trim: 5px;
    color: white;
    background-color: #c85b59;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 45%;
}

@media (width <800px) {
    .section-four-container button {
        padding: 5px 10px;
        text-spacing-trim: 5px;
        color: white;
        background-color: #b72826;
        font-size: 12px;
        border-radius: 5px;
        border: none;
        width: 20%;
        cursor: pointer;
        margin-top: 10px;
        font-weight: bold;
    }

    .section-four-container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

    }

    .section-four {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom: 2px solid #b72826;
    }

    .section-four img {
        width: 15%;
        height: 13vh;
        padding-top: 5px;
    }

    .section-four h2 {
        color: #b72826;
        font-family: "oswald";
        font-size: 20px;
    }

    .section-four p {
        font-family: "Times New Roman", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
    }


}

/* section five */
.section-five {
    display: flex;
    margin-top: 2rem;
}

.section-five div {
    width: 48%;
}

.section-five h2 {
    font-family: "oswald";
    font-size: 20px;
    color: #b72826;
}

.section-five h1 {
    font-family: "oswald";
    font-size: 2.3rem;
    line-height: 1.2;
    color: #333333;
}

.section-five ul {
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
    line-height: 2;
    font-weight: bold;
}

.section-five span {
    font-weight: 300;
    color: #5a5a5a;
}

.section-five button {
    padding: 10px 20px;
    text-spacing-trim: 5px;
    color: white;
    background-color: #c85b59;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;
}

.section-five-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/4-IMG-20250322-WA0034.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70vh;
}

.section-five-hero P {
    color: white;
    text-align: center;
    font-family: "oswald";
    font-size: 7rem;
    opacity: 0.8;
}

@media (width <800px) {
    .section-five {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 5px;
    }

    .section-five div {
        width: 100%;
    }

    .section-five h2 {
        font-family: "oswald";
        font-size: 15px;
        color: #b72826;
    }

    .section-five h1 {
        font-family: "oswald";
        font-size: 1.5rem;
        line-height: 1.2;
        color: #333333;
    }

    .section-five-hero {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/4-IMG-20250322-WA0034.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 50vh;
    }

    .section-five-hero P {
        color: white;
        text-align: center;
        font-family: "oswald";
        font-size: 2rem;
        opacity: 0.8;

    }
}

/* section six */
.section-six {
    background-color: #b72826;
    display: flex;
    margin-top: 5px;
    gap: 10px;

}

.section-six div {
    width: 50%;
}

.section-six img {
    width: 100%;
}

.section-six h1 {
    font-family: "oswald";
    color: white;
    font-size: 3rem;
}

.section-six p {
    color: white;
    font-size: 2rem;
    font-family: "oswald";
}

.section-six button {
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
}

@media (width <800px) {
    .section-six {
        background-color: #b72826;
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        gap: 10px;

    }

    .section-six div {
        width: 100%;
    }

    .section-six h1 {
        font-family: "oswald";
        color: white;
        font-size: 2rem;
    }

    .section-six p {
        color: white;
        font-size: 1rem;
        font-family: "oswald";
    }

    .section-six button {
        padding: 7px 15px;
        border: none;
        font-size: 0.8rem;
        background-color: white;
        cursor: pointer;
        border-radius: 3px;
    }
}

/* section seven */
.section-seven {
    display: flex;
    justify-content: space-between;
}

.section-seven div {
    width: fit-content;
}

.section-seven h3 {
    color: #b72826;
    font-family: "oswald";
    font-weight: 400;
    font-size: 1rem;
    text-spacing-trim: 2;
}

.section-seven span {
    color: black;
}

.section-seven p {
    color: #757575;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

@media (width<800px) {
    .section-seven {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


}

/* footer */
.footer {
    background-color: #b72826;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    font-family: "oswald";
    padding-block: 1px;
}

@media (width< 600px) {
    .footer {
        font-size: 0.6rem;
        padding-block: 1px;
    }

}

/* about */
.about-section-one {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/2-african-people-harvesting-vegetables_23-2151441311.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}

.about-section-one div {
    color: white;
    text-align: center;
    padding: 13%;
    text-transform: uppercase;
}


.about-section-one div h1 {
    font-size: 5rem;
    font-weight: bold;
    opacity: .8.5;
    text-shadow: black 0.9 0.7;
}


.about-section-one div h1 span {
    color: #b72826;
}

@media (width <=800px) {
    .about-section-one div h1 {
        font-size: 2rem;
        font-weight: bold;
        opacity: .8.5;
        text-shadow: black 0.9 0.7;
    }

    .about-section-one {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/2-african-people-harvesting-vegetables_23-2151441311.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: white;

    }
}

.about-section-one div {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

/* about section two */
.left-about-section-two {
    display: flex;
    gap: 2%;
}

.left-about-section-two div {
    width: 49%;
}

.left-about-section-two div h3 {
    color: #b72826;
    font-family: "oswald";
}

.left-about-section-two div h1 {
    font-family: "oswald";
    font-size: 2.2rem;
    line-height: 1;
    color: #333333;
}

.left-about-section-two div p {
    color: #5a5a5a;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.left-about-section-two div h4 {
    color: #b72826;
    padding-inline: 30%;
    font-family: "oswald";
    font-size: 1.4rem;
}

.right-about-section-two div {
    width: 100%;
}

.right-about-section-two div p {
    line-height: 2.5;
}

.left-about-section-two div ul {
    color: #5a5a5a;
    line-height: 2;
}

@media (width <800px) {
    .left-about-section-two {
        display: flex;
        gap: 2%;
        flex-direction: column;
    }

    .left-about-section-two div {
        width: 100%;
    }

    .left-about-section-two div h3 {
        color: #b72826;
        font-family: "oswald";
    }

    .left-about-section-two div h1 {
        font-family: "oswald";
        font-size: 1.5rem;
        line-height: 1;
        color: #333333;
    }

    .left-about-section-two div p {
        color: #5a5a5a;
        line-height: 2;
        font-family: 'Times New Roman', Times, serif;
        margin: 0px;
    }

    .left-about-section-two div h4 {
        color: #b72826;
        padding-inline: 25%;
        font-family: "oswald";
        font-size: 1rem;
    }

    .right-about-section-two div {
        width: 100%;
    }

    .right-about-section-two div p {
        line-height: 2.5;
    }

    .left-about-section-two div ul {
        color: #5a5a5a;
        line-height: 2;
    }

}

/* .about-section-three */
.about-section-three {
    background-color: #a29f9f;
    font-size: 1.5rem;
    padding-block: 12%;
    border-radius: 15px;
    color: white;
    text-align: center;
}

@media (width< 800px) {
    .about-section-three {
        font-size: 1rem;
        padding-block: 8%;

    }
}

.contact-section-three {
    display: flex;
    margin-block: 3rem;
    font-family: "oswald";
}

.contact-section-three h3 {
    color: #b72826;
}

.contact-section-three div {
    width: 50%;
}

.right-contact-section {
    border: 2px solid #b72826;
    background-color: inherit;
    border-radius: 10px;
    padding-inline: 2.5%;
    height: fit-content;

}

.message {
    width: 100%;
    margin-block: 5%;
    height: 20vh;
    align-items: start;
    display: block;
    border: 1px solid rgb(233, 230, 230);
    background-color: inherit;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
}

.text {
    border: 1px solid rgb(233, 230, 230);
    background-color: inherit;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    margin-block: 5%;
    padding: 0px;
    height: 7vh;
    padding-left: 5px;
    display: block;
}

.right-contact-section button {
    background-color: #b72826;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.right-contact-section button:hover {
    background-color: #6d1716;
    color: white;
}

.left-section-contact div {
    width: 45%;
    padding-inline: 8px;
    gap: 5px;

}

.left-section-contact {
    display: flex;
    flex-wrap: wrap;
}

@media (width <800px) {
    .contact-section-three {
        display: flex;
        flex-direction: column;
        margin-block: 3rem;
        font-family: "oswald";
    }


    .contact-section-three h3 {
        color: #b72826;
    }

    .contact-section-three div {
        width: 90%;
    }

    .right-contact-section {
        border: 2px solid #b72826;
        background-color: inherit;
        border-radius: 10px;
        margin-top: 1rem;
        height: fit-content;

    }

    .message {
        width: 90%;
        margin-block: 5%;
        height: 20vh;
        align-items: start;
        display: block;
        border: 1px solid rgb(233, 230, 230);
        background-color: inherit;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 5px;
    }

    .text {
        border: 1px solid rgb(233, 230, 230);
        background-color: inherit;
        width: 90%;
        font-family: 'Times New Roman', Times, serif;
        margin-block: 5%;
        padding: 0px;
        height: 7vh;
        padding-left: 5px;
        display: block;
    }

    .right-contact-section button {
        background-color: #b72826;
        color: white;
        padding: 10px 15px;
        border: none;
        font-size: 13px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        border-radius: 3px;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .right-contact-section button:hover {
        background-color: #6d1716;
        color: white;
    }

    .left-section-contact div {
        width: 100%;
        border-bottom: 1px dashed #b72826;
        gap: 5px;

    }

    .left-section-contact {
        display: flex;
        flex-wrap: wrap;
    }
}